pandas>=0.22.0
numpy>=1.17.0
scikit-learn>=0.19.1
matplotlib>=3.1.2
scipy>=1.0.1
umap-learn>=0.3.10
tables>=3.5.1
h5py>=2.10.0
anndata>=0.7.4
scanpy>=1.6.0
python-louvain>=0.14
-e git+https://github.com/DataBiosphere/toil.git[cwl]@9af87a094f4a8b31b3c8a265e6dbcb2cc7595c91
