pandas==1.2.3
numpy==1.20.1
scikit-learn==0.24.1
matplotlib==3.4.0rc3
scipy==1.6.1
tables==3.6.1
cwltool==3.0.20210124104916
h5py==3.2.1
scanpy==1.7.1
python-louvain==0.15
fast_histogram==0.9
pecanpy==1.0.1
numba==0.53.1
anndata==0.7.5
umap-learn==0.5.1
gensim==4.1.2
pynndescent==0.5.2
llvmlite==0.36.0
setuptools==65.5.1
rdflib_jsonld==0.5.0
torch==1.12.1
torch-geometric==2.2.0
